<div class="container">
  <section class="faq" id="faq">
    <h2 class="faq-title">FAQ</h2>
    <p class="faq-text">Questions from the Guild</p>
    <div class="accordion-container" data-accordion>
      <div class="ac">
        <div class="ac-header">
          <button type="button" class="ac-trigger">
            <span class="trigger-text">Is Hero Blitz free?</span>
            <span class="trigger-icon">
              <svg class="icon icon-down" width="30" height="30">
                <use href="img/sprite.svg#icon-down"></use>
              </svg>
              <svg class="icon icon-up" width="30" height="30">
                <use href="img/sprite.svg#icon-down"></use>
              </svg>
            </span>
          </button>
        </div>
        <div class="ac-panel">
          <p class="ac-text">
            Yes, it’s 100% free to play with optional purchases for cosmetics
            and boosters.
          </p>
        </div>
      </div>
      <div class="ac">
        <div class="ac-header">
          <button type="button" class="ac-trigger">
            <span class="trigger-text">Do I lose all progress when I die?</span>
            <span class="trigger-icon">
              <svg class="icon icon-down" width="30" height="30">
                <use href="img/sprite.svg#icon-down"></use>
              </svg>
              <svg class="icon icon-up" width="30" height="30">
                <use href="img/sprite.svg#icon-down"></use>
              </svg>
            </span>
          </button>
        </div>
        <div class="ac-panel">
          <p class="ac-text">
            No! You keep collected soul crystals, which can be spent on hero
            upgrades.
          </p>
        </div>
      </div>
      <div class="ac">
        <div class="ac-header">
          <button type="button" class="ac-trigger">
            <span class="trigger-text">Can I play offline?</span>
            <span class="trigger-icon">
              <svg class="icon icon-down" width="30" height="30">
                <use href="img/sprite.svg#icon-down"></use>
              </svg>
              <svg class="icon icon-up" width="30" height="30">
                <use href="img/sprite.svg#icon-down"></use>
              </svg>
            </span>
          </button>
        </div>
        <div class="ac-panel">
          <p class="ac-text">
            Yes, once downloaded and logged in once, you can play all modes
            offline.
          </p>
        </div>
      </div>
      <div class="ac">
        <div class="ac-header">
          <button type="button" class="ac-trigger">
            <span class="trigger-text">What are “Meta&nbsp;Perks”?</span>
            <span class="trigger-icon">
              <svg class="icon icon-down" width="30" height="30">
                <use href="img/sprite.svg#icon-down"></use>
              </svg>
              <svg class="icon icon-up" width="30" height="30">
                <use href="img/sprite.svg#icon-down"></use>
              </svg>
            </span>
          </button>
        </div>
        <div class="ac-panel">
          <p class="ac-text">
            They’re permanent buffs you unlock using in-game currency after
            dying multiple times.
          </p>
        </div>
      </div>
      <div class="ac">
        <div class="ac-header">
          <button type="button" class="ac-trigger">
            <span class="trigger-text">Are new heroes or classes coming?</span>
            <span class="trigger-icon">
              <svg class="icon icon-down" width="30" height="30">
                <use href="img/sprite.svg#icon-down"></use>
              </svg>
              <svg class="icon icon-up" width="30" height="30">
                <use href="img/sprite.svg#icon-down"></use>
              </svg>
            </span>
          </button>
        </div>
        <div class="ac-panel">
          <p class="ac-text">
            Yes — updates bring new hero classes, dungeons, and skill sets
            regularly.
          </p>
        </div>
      </div>
      <div class="ac">
        <div class="ac-header">
          <button type="button" class="ac-trigger">
            <span class="trigger-text">What devices are supported?</span>
            <span class="trigger-icon">
              <svg class="icon icon-down" width="30" height="30">
                <use href="img/sprite.svg#icon-down"></use>
              </svg>
              <svg class="icon icon-up" width="30" height="30">
                <use href="img/sprite.svg#icon-down"></use>
              </svg>
            </span>
          </button>
        </div>
        <div class="ac-panel">
          <p class="ac-text">
            Any Android 6.0+ device with 2GB RAM or higher is recommended.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
