<footer class="footer" id="footer">
  <div class="container footer-container">
    <address class="footer-contact">
      <p class="footer-title">Contact</p>
      <p class="footer-info">
        Email: <a href="mailto:info@blitzbouncelegend.com">info@blitzbouncelegend.com</a><br />
        Studio: Arcadia Games, 88 Loopring Tower, Berlin<br />
        Mon–Fri, 9:00–17:00 (CET)
      </p>
    </address>

    <ul class="footer-links">
      <li><a href="privacy-policy.html">[Privacy Policy]</a> <span class="footer-separator"> |&nbsp;</span></li>
      <li>
        <a href="terms-and-conditions.html">[Terms & Conditions]</a><span class="footer-separator"> |&nbsp;</span>
      </li>
      <li><a href="cookies.html">[Cookies Policy]</a></li>
    </ul>

    <div class="footer-copyright">
      <span>© 2025 <a href="https://blitzbouncelegend.com">blitzbouncelegend.com</a></span>
      <span class="footer-separator">&nbsp;—&nbsp;</span>
      <span>All Rights Reserved</span>
    </div>
  </div>
</footer>

