<div class="container">
  <section class="game-description" id="game-description">
    <div class="game-description-mobile-text">
      Welcome to Blitzopia — a world<br>
      fractured by chaos and crawling<br>
      with creatures of legend.<br>
      Gifted by the Dreamy Wizard, you<br>
      are the last resurrecting hero,<br>
      chosen to reclaim the dungeons,<br>
      defeat the bosses, and restore<br>
      elemental harmony. Every battle will<br>
      test your reflexes, instincts, and<br>
      strategy.<br>
      Explore mysterious realms,<br>
      customize your skill build mid-run,<br>
      and combine loot into deadly<br>
      synergies.<br>
      One mistake and you're dead. But<br>
      death isn’t the end. It’s just the<br>
      beginning of your next perfect run.
    </div>

    <div class="game-description-desktop-text">
      Welcome to Blitzopia — a world fractured by chaos and crawling with creatures of legend.<br>
      Gifted by the Dreamy Wizard, you are the last resurrecting hero chosen to reclaim the dungeons, defeat the bosses,
      and restore elemental harmony. Every battle will test your reflexes, instincts, and strategy.<br>
      Explore mysterious realms, customize your skill build mid-run, and combine loot into deadly synergies.<br>
      One mistake and you're dead. But death isn’t the end. It's just the beginning of your next perfect run.
    </div>
  </section>
</div>
