<header class="header" id="header">
  <div class="container">
    <div class="header-wrapper">
      <a href="" class="hero-logo-link">Hero Blitz: RPG Roguelike</a>
      <nav>
        <ul class="header-nav-list">
          <li class="header-nav-item"><a href="#home">Home</a></li>
          <li class="header-nav-item">
            <a href="#key-features">Key Features</a>
          </li>
          <li class="header-nav-item">
            <a href="#game-description">Game description</a>
          </li>
          <li class="header-nav-item">
            <a href="#gameplay-controls">Gameplay & controls</a>
          </li>
          <li class="header-nav-item"><a href="#hero-classes">Heroes</a></li>
          <li class="header-nav-item">
            <a href="#world-dungeons">World & dungeons</a>
          </li>
          <li class="header-nav-item"><a href="#benefits">Benefits</a></li>
          <li class="header-nav-item"><a href="#gallery">Gallery</a></li>
          <li class="header-nav-item"><a href="#reviews">Reviews</a></li>
          <li class="header-nav-item"><a href="#faq">FAQ</a></li>
          <li class="header-nav-item"><a href="#footer">Contact</a></li>
        </ul>
      </nav>
      <button class="header-menu-button">
        <svg class="header-burger-icon">
          <use href="/img/symbol-defs.svg#burger"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
