<header class="header" id="header">
  <div class="container">
    <div class="header-wrapper">
      <a href="" class="hero-logo-link">Hero Blitz: RPG Roguelike</a>
      <nav>
        <ul class="header-nav-list">
          <li class="header-nav-item"><a href="">Home</a></li>
          <li class="header-nav-item"><a href="">Key Features</a></li>
          <li class="header-nav-item"><a href="">Game description</a></li>
          <li class="header-nav-item"><a href="">Gameplay & controls</a></li>
          <li class="header-nav-item"><a href="">Heroes</a></li>
          <li class="header-nav-item"><a href="">World & dungeons</a></li>
          <li class="header-nav-item"><a href="">Benefits</a></li>
          <li class="header-nav-item"><a href="">Gallery</a></li>
          <li class="header-nav-item"><a href="">Reviews</a></li>
          <li class="header-nav-item"><a href="">FAQ</a></li>
          <li class="header-nav-item"><a href="">Contact</a></li>
        </ul>
      </nav>
      <button class="header-menu-button">
        <svg class="header-burger-icon">
          <use href="/img/symbol-defs.svg#burger"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
