<section class="home" id="home">
  <div class="container">
    <h1 class="home-title">
      Hero Blitz: <br />
      RPG Roguelike
    </h1>
    <p class="home-text">
      Conquer the Chaos. Die. <br />
      Revive. Rise Again.
    </p>
    <p class="home-text">
      Begin Your Roguelike <br />
      Journey Now
    </p>
    <a href="" class="home-download-link" target="_blank"
      ><span>Download Now</span>
      <img
        src="/img/hero/google-play.png"
        srcset="/img/hero/google-play@2x.png 2x"
        alt="icon of google-play"
    /></a>
  </div>
</section>
