<div class="modal" data-modal-mobile>
  <button type="button" class="modal-close-btn" data-mobile-menu>
    <svg class="modal-close-btn-icon">
      <use href="/img/symbol-defs.svg#close"></use>
    </svg>
  </button>
  <ul>
    <li><a href="#home">Home</a></li>
    <li><a href="#key-features">Key Features</a></li>
    <li><a href="#game-description">Game description</a></li>
    <li><a href="#gameplay-controls">Gameplay & controls</a></li>
    <li><a href="#hero-classes">Heroes</a></li>
    <li><a href="#world-dungeons">World & dungeons</a></li>
    <li><a href="#benefits">Benefits</a></li>
    <li><a href="#gallery">Gallery</a></li>
    <li><a href="#reviews">Reviews</a></li>
    <li><a href="#faq">FAQ</a></li>
    <li><a href="#footer">Contact</a></li>
  </ul>
</div>
