<div class="container review-container">
  <section class="reviews" id="reviews">
    <h2 class="reviews-title">Reviews</h2>
    <p class="reviews-text">What Real Heroes Say About Hero Blitz</p>
    <ul class="review-list">
      <li class="review-item review-item-gianni">
        <div class="reviews-avatar-container">
          <img class="reviews-avatar"
               src="/img/reviews/gianni.png"
               srcset="/img/reviews/gianni@2x.png 2x"
               alt="Gianni R."
          />
        </div>
        <div class="reviews-message">
          <p>Gianni R. (IT)</p>
          <p>“Feels like Dead Cells meets Slay the Spire but with chibi vibes. I’m addicted.”</p>
        </div>
      </li>
      <li class="review-item review-item-stephanie">
        <div class="reviews-avatar-container">
          <img class="reviews-avatar"
               src="/img/reviews/stephanie.png"
               srcset="/img/reviews/stephanie@2x.png 2x"
               alt="Gianni R."
          />
        </div>
        <div class="reviews-message">
          <p>Stephanie T. (PH)</p>
          <p>“No ads unless I want boosters, runs smooth even on my older phone, and it actually gets better the more
            you die!”</p>
        </div>
      </li>
      <li class="review-item review-item-riko">
        <div class="reviews-message reviews-message-left">
          <p>Riko A. (JP)</p>
          <p>“The art style is super cute, but don’t let that fool you — the battles are intense and rewarding!”</p>
        </div>
        <div class="reviews-avatar-container">
          <img class="reviews-avatar"
               src="/img/reviews/riko.png"
               srcset="/img/reviews/riko@2x.png 2x"
               alt="Gianni R."
          />
        </div>
      </li>
      <li class="review-item review-item-leo">
        <div class="reviews-message reviews-message-left">
          <p>Leo M. (DE)</p>
          <p>“I love the constant upgrades and random powers every run. Feels like I’m building my own hero every
            time.”</p>
        </div>
        <div class="reviews-avatar-container">
          <img class="reviews-avatar"
               src="/img/reviews/leo.png"
               srcset="/img/reviews/leo@2x.png 2x"
               alt="Gianni R."
          />
        </div>
      </li>
    </ul>
  </section>
</div>
