.legacy-container {
    padding-top: 30px;
    padding-bottom: 50px;
}

.legacy-nav {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.legacy-nav-icon {
    width: 32px;
    height: 32px;
}

.legacy-nav-text {
    font-family: var(--third-family);
    margin-left: 14px;
}

.legacy-header {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 36px;
    color: var(--main-colour);
    margin-bottom: 30px;
}

.legacy-text {
    margin-bottom: 30px;
}

.legacy-text-no-margin {
    margin-bottom: 0;
}

ul.legacy-text {
    list-style: disc;
    padding-left: 16px;
}

.legacy-title {
    font-family: var(--second-family);
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 15px;
}

.legacy-cookies-header {
    font-size: 24px;
}